@media only screen and (min-width: 100px) and (max-width: 199px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 374px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 414px) and (max-width: 666px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 667px) and (max-width: 735px) {
  html {
    font-size: 21px;
  }
}
@media only screen and (min-width: 736px) and (max-width: 767px) {
  html {
    font-size: 24px;
  }
}
