
<header class="top-head">
  <div class="container clearfix">
    <div class="left pull-left">&lt;</div>
    <h1 class="main-title">首页</h1>
    <div class="right pull-right">确认</div>
  </div>
</header>

<router-outlet></router-outlet>

<nav class="bot-tabs">
  <ul>
    <li><a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: false}"><i class="icon icon-home"></i>首页</a></li>
    <li><a href="javascript: void(0);"><i class="icon icon-products"></i>理财</a></li>
    <li><a href="javascript: void(0);"><i class="icon icon-discover"></i>发现</a></li>
    <li><a routerLink="/mine" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: false}"><i class="icon icon-mine"></i>我的</a></li>
  </ul>
</nav>

<ngx-loading-bar color="#ff5f00"
                 [includeSpinner]="false"></ngx-loading-bar>
