<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="main-warpper clearfix">
    <div class="pull-left">
      <a href="javascript: void(0);">{{ title }}</a>
    </div>
    <nav class="pull-right">
      <ul class="clearfix">
        <li class="pull-left"><a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li class="pull-left"><a routerLink="/test/a" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Test-a</a></li>
        <li class="pull-left"><a routerLink="/test/b" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Test-b</a></li>
        <li class="pull-left"><a routerLink="/pipes" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">pipes</a></li>
        <li class="pull-left"><a routerLink="/admin" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: false}">Admin</a></li>
        <li class="pull-left"><a href="login.html">Login</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

