<h1>{{ title }}</h1>
<h2>My Favorite hero is: {{ myHero.id + ' - ' + myHero.name }}</h2>
<p>Heroes: </p>
<ul>
  <p>如果要引用的变量名存在于一个以上的命名空间中，那么，模板变量是最优先的，其次是指令的上下文变量，最后是组件的成员。</p>
  <p>ngFor指令中的hero:</p>
  <li *ngFor="let hero of heroes">
    {{ hero.name }}
  </li>
  <p>组件中声明的hero:</p>
  <li *ngIf="hero">{{ hero.name }}</li>
</ul>
<p *ngIf="heroes.length > 3">There are many heroes!</p>

<h3>HTML attribute 与 DOM property 的对比</h3>
<p><strong>HTML attribute value指定了初始值；DOM value property 是当前值。</strong></p>
<button (click)="getInputAttr()">获取 input 的 attribute 值 (<code>&lt;input type="text" value="Bob"&gt;</code>)</button>
<input type="text" value="Bob" name="test-input" [(ngModel)]="inputVal">
<span><code>input.getAttribute('value'): </code>{{ inputAttr }}</span> &nbsp;
<span><code>input.property: </code>{{ inputVal }}</span>

<h3>属性绑定还是插值表达式？</h3>
<p><span>"{{ titles }}" is the <i>interpolated</i> title.</span></p>
<p>"<span [innerHTML]="titles"></span>" is the <i>property bound</i> title.</p>

<h3>内容安全</h3>
<p [innerHTML]="scripts"></p>

<h3>attribute 绑定</h3>
<table border="1">
  <!-- 设置 colspan=2 -->
  <tr><td [attr.colspan]="1 + 1">1-2</td></tr>

  <tr><td>5</td><td>6</td></tr>
</table>

<h3>CSS 类绑定</h3>
<div class="bad curly special" [class]="badCurly">Bad curly</div>
<!-- 用属性打开/关闭“special”类 -->
<div [class.special]="isSpecial">The class binding is special</div>
<!-- 绑定`class.special`优先级高于class属性 -->
<div class="special" [class.special]="!isSpecial">This one is not so special</div>

<h3>样式绑定</h3>
<button [style.color]="isSpecial ? 'red': 'green'">Red</button>
<button [style.font-size.em]="isSpecial ? 3 : 1" >Big</button>
<button [style.font-size.%]="!isSpecial ? 150 : 50" >Small</button>


<h3>$event 和事件处理语句</h3>
<input [value]="currentHero.name"
       (input)="currentHero.name=$event.target.value" >
<span><code>currentHero.name</code> 的值: {{ currentHero.name }}</span>



<h3>双向数据绑定 ( [(...)] )</h3>
<app-sizer [(size)]="fontSizePx"></app-sizer>
<!-- 等价于下面的写法 -->
<!-- <app-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></app-sizer> -->
<div [style.font-size.px]="fontSizePx">Resizable Text</div>



<h2>属性型指令</h2>
<h3>NgClass 指令</h3>
CSS类绑定是添加或删除<i>单个类</i>的最佳途径：
<div [class.special]="isSpecial">CSS类绑定</div>
NgClass 指令：
<div [ngClass]="currentClasses">This div is initially saveable, unchanged, and special</div>


<h3>NgStyle 指令</h3>
样式绑定是设置单一样式值得简单方式：
<div [style.font-size]="isSpecial ? 'x-large' : 'smaller'">
  This div is x-large or smaller.
</div>
NgStyle指令是同时设置多个内联样式的更好选择：
<div [ngStyle]="currentStyles">
  This div is initially by ngStyle.
</div>



<h3>NgModel 指令</h3>
<p><code>ngModel</code>可以通过之前的属性绑定和事件绑定实现：</p>
<input [value]="currentHero.name"
       (input)="currentHero.name=$event.target.value">
<span>INPUTS: {{ currentHero.name }}</span>
<p><code>ngModel</code>的展开实现(自己的输入(<code>ngModel</code>)属性和输出(<code>ngModelChange</code>)属性)：</p>
<input [ngModel]="currentHero.name"
       (ngModelChange)="currentHero.name=$event">
<span>INPUTS: {{ currentHero.name }}</span>
<p><code>ngModel</code>的合并实现方法是 <code>[(ngModel)]</code>：</p>
<input [(ngModel)]="currentHero.name">
<span>INPUTS: {{ currentHero.name }}</span>
<p><code>[(ngModel)]</code>只能设置数据绑定属性，如果有特别需求也可以展开形式：</p>
<input [ngModel]="currentHero.name"
       (ngModelChange)="setUppercaseName($event)">
<span>INPUTS: {{ currentHero.name }}</span>


<h2>结构型指令</h2>
<h3>NgIf 指令</h3>
<div *ngIf="currentHero">Hello, {{ currentHero.name }}</div>
<div *ngIf="nullHero">Hello, {{ nullHero.name }}</div>


<h3>NgFor 指令</h3>
<div *ngFor="let hero of heroes;let i = index">{{ i }} - {{hero.id + ': ' + hero.name }}</div>
<code>trackBy</code>
<div>
  <button (click)="resetHeroes()">Reset heroes</button>
  <button (click)="changeIds()">Change ids</button>
  <button (click)="clearCounts()">Clear counts</button>
</div>
<h5 class="ng-for-h">without trackBy</h5>
<div class="ng-for-tranck">
  <div *ngFor="let hero of newHeroes; let i = index">({{ hero.id }}) {{ hero.name }}</div>
  <div>Hero DOM elements change #{{ withoutTrackedCount }} without trackBy.</div>
</div>
<h5 class="ng-for-h">with trackBy</h5>
<div class="ng-for-tranck">
  <div *ngFor="let hero of newHeroes; trackBy: trackByHeroes">({{ hero.id }}) {{ hero.name }}</div>
  <div>Hero DOM elements change #{{ withTrackedCount }} with trackBy.</div>
</div>





<br *ngFor="let item of range(30)">

